<div class="container">
  <div class="titre">
    <p>PROFIL</p>
  </div>

  <div class="item">
    <span>EMAIL</span><br>
    <span>ici le mail de la bdd</span>
  </div>

  <div class="item">
    <span>NOM</span><br>
    <span>ici le nom de la bdd</span>
  </div>

  <div class="item">
    <span>PRENOM</span><br>
    <span>ici le prenom de la bdd</span>
  </div>

  <div class="item">
    <span>AGE</span><br>
    <span>ici l'age de la bdd</span>
  </div>

  <div class="item">
    <span>ADRESSE</span><br>
    <span>ici l'adresse de la bdd</span>
  </div>
</div>
