<div *ngIf="medecins" class="informations">
  <p class="titre-item">NOM DE FAMILLE</p>
  <p>{{ medecins.lastName}}</p><br>
  <p class="titre-item">PRENOM</p>
  <p>{{ medecins.firstName}}</p><br>
  <p class="titre-item">SPECIALITE</p>
  <p>{{ medecins.specialty}}</p><br>
  <p class="titre-item">ADRESSE</p>
  <p>{{ medecins.addressNum}} {{ medecins.addressStreet }} {{ medecins.postalCodeAddress }}
    {{ medecins.townAddress }}
  </p><br>
  <div>
    <button class="btn">PRENDRE RENDEZ-VOUS</button>
  </div>
</div>
